.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header is above other content */
    transition: background-color 0.3s ease;
}

.custom_btn {
    background-color: black;
}

.phone{
    background-color: #fff;
    color: black;
    border-radius: 15px;
    padding: 2px;
    margin-left: 100px;
}

#number{
    color: black;
    margin-left: 5px;
}

.logo {
    font-size: 24px;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* Mobile styles */
@media (max-width: 768px) {
    .nav {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        text-align: center;
    }

    .nav.open {
        display: block;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
}
