/* From Uiverse.io by cssbuttons-io */ 
.button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    /* flex: 1; Make buttons flexible */
    margin: 5px;
  }
  
  .button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  .button:active {
    transform: translateY(-4px);
    outline: none;
  }
  .button.active {
    transform: translateY(-7px);
    background-color: #23c483;
    color: #fff;
    outline: none ;

  }


  /* Media Queries */
@media (max-width: 768px) {
    .button {
        padding: 1em 2em; /* Adjust padding for tablets */
        font-size: 10px;  /* Adjust font-size for tablets */
        border-radius: 35px; /* Adjust border radius for tablets */
    }
}

@media (max-width: 480px) {
    .button {
        padding: 0.8em 1.5em; /* Adjust padding for mobile devices */
        font-size: 9px;      /* Adjust font-size for mobile devices */
        border-radius: 25px; /* Adjust border-radius for smaller screens */
    }
}