.content{
    transition: all 500ms;
}
.transition{
    transition: all 500ms;
}
.fade-out{
    opacity: 0;
}
.card-main{
    box-shadow: 0 10px 18px var(--card-shadow); /* Light shadow */
    /* border: 2px solid #a5a5a5; */
    border: 2px solid var(--card-border);
    border-radius: 2.1rem 2.1rem 0rem 0rem;
    min-height: 33.625rem;
    background-color: var(--card-background);
}

.image-container{
    background-image: url(../Images/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 2rem 2rem 0rem 0rem;
    outline: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-body-height{
    height: auto;
}
.fade-in {
    /* transition: opacity 500ms; */
    animation: fadeIn 0.5s ease;
}
.card-title{
    font-size: 2vw;
    margin: 0;  
    color: var(--text-color);
}
.card-size-price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-size-price-inside{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;  
}
.card-size-price-title{
    color: #ff1066;
}
.card-p{
    margin: 0;
}