
:root {
    --card-background: #fff;
    --card-border: #bbbbbb;
    --card-shadow: rgba(0, 0, 0, 0.514);
    --card-color: #000;
    --text-color : #000;
}

body{
    background-color: var(--card-background);
    color: var(--text-color);
    transition: background-color 0.5s,color 0.5s ;
}

/* @media (prefers-color-scheme: dark) { */
    body.dark-mode {
        --card-background: #333;
        /* --card-border: #000000; */
        --card-shadow: rgba(255, 255, 255, 0.127);
        --card-color: #fff;
        --text-color : #fff;
    }
/* } */
